.list-item li {
    list-style: none;
    padding: 5px;

}
.button{
    background-color: #F496D1;
    color: black;
    border: none;
}
.text-color{
    color: #ffff;
}
.imgs, .text-color{
    margin-top: 50px;
}
